div.trace_wrap>table {
    font-size: 80%;
    background-color: #444;
    border-spacing: 0;
    color: #eee;
    min-width: 100%;
}

div.trace_wrap tr:hover {
    background-color: #222 !important;
}

div.trace_wrap {
    min-width: 100%;
}

div.trace_wrap tr{
    line-height: 1.8em;
}

div.trace_wrap tr:nth-child(2n){
    background-color: #4d4d4d;
}

div.trace_wrap td {
    white-space: nowrap;
    text-align: center;
}

div.trace_wrap td.trace_path {
    text-align: right;
    padding-left: 3px;
    color: #00BABA;
}

div.trace_wrap td.trace_file {
    text-align: left;
    color: #a6dbdb;
    text-shadow: 2px 2px 7px rgba(0, 0, 0, 0.5);
}

div.trace_wrap td.trace_line {
    color: #ffff7b;
    padding-left: 7px;
    padding-right: 7px;
}

div.trace_wrap td.trace_class, span.trace_class {
    text-align: left;
    color: #fff;
    font-weight: 100;
    text-shadow: 2px 2px 7px rgba(0, 0, 0, 0.4), 0 0 1px #000;
}

div.trace_wrap td.trace_call_type {
    color: #aaa;
}

div.trace_wrap td.trace_name_space, span.trace_name_space {
    text-align: right;
    padding-left: 5px;
    padding-right: 7px;
    color: #dbdbad;
}

div.trace_wrap td.trace_function {
    padding-left: 5px;
    padding-right: 5px;
    color: #ffdb70;
    text-shadow: 2px 2px 7px rgba(0, 0, 0, 0.5);
    text-align: right;
}

div.trace_wrap td.trace_args {
    border-left: 1px solid #393939;
    padding-left: 3px;
    padding-right: 3px;
    color: #f9f9ca;
}

div.trace_wrap td.trace_args.object {
    color: #9cea9a;
}

div.trace_wrap td.trace_args.resource {
    color: #7e65ff;
    font-style: italic;
}

div.trace_wrap td.trace_args.array {
    color: #bbcc00;
    font-style: italic;
}

div.trace_wrap td.trace_args.numeric {
    color: #68ace0;
}

div.trace_wrap td.trace_args.string, td.trace_args.string div.string{
    color: #81DF73;
}

div.trace_wrap .string>span, .trace_function_params{
    color: #888;
    font-weight: bold;
}

div.trace_wrap td.trace_args.callable {
    color: #fff26b;
    font-style: italic;
}

div.trace_wrap td.trace_args.bool {
    color: #FC9A46;
    font-weight: bold;
    font-style: italic;
}

div.trace_wrap td.trace_args .etc {
    color: #f55;
}

div.error_box .hidden {
    display: none !important;
}


/******************************************************************* tooltip */
div.trace_wrap div.tooltip_wrap  {
    font-family: Consolas, monospace;
    border: 1px solid #666;
    background-color: #4d4d4d;
    word-wrap: break-word;
    white-space: pre-wrap;
    text-align: left;
}

div.trace_wrap .tooltip_wrap.string {
    max-width: 580px;
}

div.trace_wrap .tooltip_wrap.string:hover {
    background-color: #222;
}

div.trace_wrap .tooltip_wrap table {
    font-size: 100%;
    border-spacing: 0;
    color: #ccc;
    min-width: 100%;
}

div.trace_wrap .tooltip_wrap table tr:nth-child(2n){
    background-color: #444;
}

div.trace_wrap .tooltip_wrap td:nth-child(1) {
    color: #c18ddd;
    padding: 0 5px 0 10px;
    text-align: right;
}

div.trace_wrap .tooltip_wrap td:nth-child(2){
    font-size: 13px;
    padding: 0 10px 0 5px;
    text-align: left;
}


